@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

$primary-color: #3aaa59;
$secondary-color: #160304f3;
//$show-home-image: true;
$home-image: url(/images/huh.jpg);
$background-opacity: 0.1;

@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
