@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

#introduction {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 20px;
  height: 100vh;
}

#main-img {
  position: absolute;
  top: 0;
  left: 0;
  background: #3aaa59 url(/images/huh.jpg) no-repeat;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  opacity: 0.9;
}

#main-img img {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#text-content {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 10;
}

#text-content #main-text {
  font-weight: 300;
  font-size: 50px;
  line-height: 1.2;
  color: #000;
}

.btn {
  padding: 10px 30px;
  background: #fff;
  color: #3aaa59;
  border: 1px #3aaa59 solid;
  border-radius: 5px;
  margin-top: 20px;
  opacity: 0.8;
  position: relative;
  left: 30%;
}

.btn:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

#testimonials {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  top: 55vh;
  min-height: 44vh;
}

#kevin,
#veronica,
#linsey {
  position: absolute;
  top: 5px;
  width: 250px;
  height: 280px;
  border-radius: 25px 25px 25px 25px;
  border: 2px solid #3aaa59;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 2px 2px 2px 2px #888888;
          box-shadow: 2px 2px 2px 2px #888888;
}

#kevin:hover,
#veronica:hover,
#linsey:hover {
  width: 220px;
  height: 260px;
}

#kevin:hover p,
#veronica:hover p,
#linsey:hover p {
  margin-bottom: 5px;
  font-size: medium;
}

#kevin:hover .user,
#veronica:hover .user,
#linsey:hover .user {
  font-weight: no;
  font-size: 0.9rem;
}

#kevin {
  left: 80px;
}

#linsey {
  left: 500px;
}

#veronica {
  left: 900px;
}

hr {
  position: relative;
  width: 60%;
  left: 20%;
  margin: 2px;
  border: 0.5px solid #3aaa59;
  -webkit-box-shadow: 0px 2px 2px 2px rgba(136, 136, 136, 0.3);
          box-shadow: 0px 2px 2px 2px rgba(136, 136, 136, 0.3);
}

.user-image {
  position: relative;
  left: 30%;
  top: 10px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 2px solid #3aaa59;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: 10px;
  -webkit-box-shadow: 4px 0 5px 0px #3aaa59;
          box-shadow: 4px 0 5px 0px #3aaa59;
}

p {
  margin: 10px;
  font-size: medium;
}

.user {
  font-weight: lighten;
  font-size: 1.2rem;
}

aside {
  position: absolute;
  left: 0;
  top: 30%;
  width: 50px;
  height: 180px;
  margin: 10px;
}

aside .icons {
  position: relative;
  height: 100%;
  top: 10%;
  margin: 5px;
}

aside a {
  color: #fff;
}

aside a:hover {
  color: #9fdeb0;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

aside i {
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */